# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Logs
*.log

# Local config
.env
.env.*
!.env.example
trcli-config.yml